
.attr-nav .fa,
.attr-nav i {
  color: #ffffff !important;
}



.navbar-nav > li.active > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.open > a,
.navbar-nav > li.open > a:hover,
.navbar-nav > li.open > a:focus {
    color: #FF9F1C !important;
}


.navbar-nav > li.active > a .caret,
.navbar-nav > li > a:hover .caret {
    border-top-color: #FF9F1C !important;
    border-bottom-color: #FF9F1C !important;
}

.marquee-container {
    width: 100%;
    background: #111;
    border-bottom: 2px solid #FF9F1C; /* top slide renk kodu */
    overflow: hidden;
    position: relative;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    padding: 8px 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #FF9F1C;
    animation: marquee 17s linear infinite;
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.marquee {
    text-shadow: 0 0 6px #FF9F1C;
}


 /* PAGE BACKGROUND */
body {
    background: #000 !important;
}


.ann-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px;
}
@media(min-width: 768px) {
    .ann-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 1024px) {
    .ann-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



